%h1 Listing portfolios

%table
  %thead
    %tr
      %th Portfolio #
      %th
      %th
      %th

  - if user_signed_in?
    %tbody
      - @portfolios.each do |portfolio|
        %tr
          %td= portfolio.id
          %td= link_to 'Show', portfolio

%br
