.col.mx-auto.col-lg-10.px-md-4
  .d-flex.justify-content-center.flex-wrap.flex-sm-nowrap.align-items-center.pt-3.pb-2
    .col
      .card
        .card-body
          .page-header
            %h4 Profile Information
          %hr
          .row
            %h6= "User Email: #{current_user.email}"
          .row 
            %h6= 



